<div class="banner-show">
  <div class="container">
    <h1><%= @list.name %></h1>
<!-- Button trigger modal -->
    <button type="button" class="btn btn-ghost" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Add a movie
    </button>
  </div>
</div>

<div class="cards-show">
  <% @list.movies.each do |movie| %>
    <% bookmark = Bookmark.find_by(movie_id: movie, list_id: @list) %>
    <div class="card-poster">
      <%= image_tag "#{movie.poster_url}"%>
      <div class="movie-infos">
        <h3><%= movie.title %></h3>
        <div class="overview-infos">
          <p><%= movie.overview %></p>
        </div>
        <p><%= movie.rating %></p>
      </div>
    </div>
  <% end %>
</div>
      <%# <%= link_to 'Remove movie', bookmark_path(bookmark), method: :delete, data: { confirm: 'Are you sure?' } %> %>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add a movie</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for([@list, @bookmark]) do |f| %>
          <%= f.association :movie %>
          <%= f.label :comment %>
          <%= f.text_field :comment %>
          <div class="modal-footer mt-4">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <div class="btn btn-primary">
              <%= f.submit %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
